<a href="https://colab.research.google.com/github/BijayChodhoury/Machine-Learning/blob/main/Diabetes%20Patient%20Prediction/Diabetes_Patient_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Support Vector Machine**

**Importing the Dependencis**

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

**Data Collection and Analysis**

**PIMA Diabetes Dataset**

In [ ]:
diabetes_data = pd.read_csv("/content/diabetes.csv")

In [ ]:
diabetes_data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
diabetes_data.shape

(768, 9)

In [ ]:
# Getting the statistical measures of the data
diabetes_data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
X = diabetes_data.drop(columns='Outcome', axis=1)
Y = diabetes_data['Outcome']

**Data Standardization**

In [ ]:
scaler = StandardScaler()
scaler.fit(X)
Standardized_data = scaler.transform(X)

In [ ]:
print(Standardized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [ ]:
X = Standardized_data
Y = diabetes_data['Outcome']

**Spliting Training and Test Data**

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.1, stratify=Y, random_state=1)

**Model Training (Logistic Regression)**

In [ ]:
from sklearn.linear_model import LogisticRegression
model_lr = LogisticRegression()
model_lr.fit(X_train, Y_train)
X_test_predict = model_lr.predict(X_test)
test_data_accuracy = accuracy_score(X_test_predict, Y_test)
print("Accuracy on test data: ", test_data_accuracy)

Accuracy on test data:  0.6883116883116883

In [ ]:
# Accuracy on test data
X_test_pred = model_lr.predict(X_test)
print('Accuracy on test data: ', accuracy_score(X_test_pred, Y_test))

Accuracy on test data:  0.6883116883116883

**Model Training (Support Vector Machine)**

In [ ]:
classifier = svm.SVC(kernel='linear')

In [ ]:
# Training Support Vector Machine
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

In [ ]:
# Model Evaluation
## Accuracy on training data
X_train_pred = classifier.predict(X_train)
print('Accuracy on training data: ', accuracy_score(X_train_pred, Y_train))

Accuracy on training data:  0.7973950795947902

In [ ]:
## Accuracy on test data
X_test_pred = classifier.predict(X_test)
print('Accuracy on test data: ', accuracy_score(X_test_pred, Y_test))

Accuracy on test data:  0.6883116883116883

# Making a Prediction System

In [ ]:
input_data = (1,103,30,38,83,43.3,0.183,33)

# Changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# Reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1, -1)

# Standardize the input_data
std_input_data = scaler.transform(input_data_reshaped)
print(std_input_data)

prediction = classifier.predict(std_input_data)
print(prediction)

if(prediction[0] == 0):
  print("The person is not diabetic.")
else:
  print("The person is diabetic.")

[[-0.84488505 -0.56004775 -2.02166474  1.09545411  0.02778979  1.43512945
  -0.87244072 -0.0204964 ]]
[0]
The person is not diabetic.

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

**Making a function of prediction**

In [ ]:
def predict_diabetes(*patient_data):
  data_as_np_array = np.asarray(patient_data)
  data_reshaped = data_as_np_array.reshape(1, -1)
  std_data = scaler.transform(data_reshaped)
  prediction = classifier.predict(std_data)
  if(prediction[0] == 0):
    print('The person is diabetic.')
  else:
    print('The person is not diabetic.')

In [ ]:
predict_diabetes(10,139,80,0,0,27.1,1.441,57)

The person is not diabetic.

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"